/* *{
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} */




#box{
    background-color :blue;
} 

.heading{
    color:red;
}
 button{
    background-color:green;
 }

 p{ 
    text-align: center;
    font-weight: 100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   line-height:19px;
   font-size:20px;
   text-transform:capitalize;
 }
 #h0{
    text-align: center;

    text-decoration: red  line-through;
 }

 a{
   text-decoration:none;
 }

 #h1{
   font-weight: 100;
 }

 #h2{
   font-weight:600;
 }

 #h3{
   font-weight:100;
   font-family:fantasy;
   font-size:15px;
 }
 #h4{
   text-align:center;
   text-transform: capitalize;
 }
#outer{
   font-size: 25px;
}
 #inner{
   font-size:10px;
} 