/* h1{
   width: 200px;
    height:200px;
    background-color: pink;
    
    border:5px solid brown;
    text-align: left;
    padding-left: 25px;
    
    
} */

div{
    width: 200px;
    height:200px;
    background-color: pink;
    border:5px dotted brown;
    text-align: left;
    font-size:20px;
    padding: 25px;
    margin:30px;
     
}